.player {
  height: 100%;
  cursor: pointer;
}

.player > img {
  max-height: 100%;
  object-fit: cover;
}

/* @media screen and (min-height: 360px) and (min-width: 720px) {
  .player {
    width: 3.7rem;
  }
}

@media screen and (min-height: 410px) and (min-width: 720px) {
  .player {
    width: 4.2rem;
  }
}

@media screen and (min-height: 550px) and (min-width: 480px) {
  .player {
    width: 5rem;
  }
}

@media screen and (min-height: 650px) and (min-width: 500px) {
  .player {
    width: 5.2rem;
  }
}

@media screen and (min-height: 750px) and (min-width: 720px) {
  .player {
    width: 6rem;
  }
}

@media screen and (min-height: 800px) and (min-width: 880px) {
  .player {
    width: 7rem;
  }
}

@media screen and (min-height: 1000px) and (min-width: 100px) {
  .player {
    width: 9rem;
  }
} */