/* mobile S */
.players {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 5rem);
  margin: 0 auto;
  grid-column-gap: 0.3rem;
  grid-row-gap: 0.3rem;
  width: 20rem;
  position: relative;
}


/* mobile M */
@media (min-height: 350px) and (orientation: landscape) {
  .players {
    grid-template-rows: repeat(3, 6rem);
    width: 25rem;
  }
}

/* mobile L */
@media (min-height: 410px) and (orientation: landscape) {
  .players {
    grid-template-rows: repeat(3, 7rem);
    width: 30rem;
  }
}

@media (min-width: 1020px) {
  .players {
    grid-template-rows: repeat(3, 11rem);
    width: 45rem;
  }
}


